extends layout

block content
  h1= title
  p Welcome to #{title}
  p method: #{method}
  p user agent ip: #{userAgentIp}
  p server address: #{serverAddress}
  p accepts: #{accept}
  p counter: #{counter}
  p username: #{username}
  form(class="form-signin" method="GET" action="/logout")
    - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
    #loggedIn
      if loggedIn === true
          button(class=buttonClass type="submit") Sign out
